doctype html
html
	head
		title Home Page
		link(rel="stylesheet" type="text/css" href="order.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8")
	body
		include ../partials/header
		h1 Welcome to the #1 Food Delivery Service Website
